.dataTables_filter label {
    color: white;
}
.dataTables_length label {
    color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #C1D4D9;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background-color: #6A95A6;
}
.carousel-inner {
    background-color: #205373;
}
